.offers-container {
    display: flex;
    gap: 20px;
    padding: 30px 15px;
    background-color: #111;
    color: #fff;
  
    .job-offers-column, .internship-offers-column {
      flex: 1; /* Chaque colonne prend 50% de la largeur */
    }
  
    .section-title {
      color: #d4af37;
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
      text-align: center;
    }
  
    .offer-card {
      background-color: #333;
      border-radius: 8px;
      padding: 20px;
      border: 1px solid #444;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s, box-shadow 0.3s;
      margin-bottom: 20px;
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
      }
  
      .offer-title {
        font-size: 1.4rem;
        font-weight: bold;
        color: #d4af37;
        margin-bottom: 0.8rem;
      }
  
      .offer-description {
        font-size: 1rem;
        color: #ccc;
        margin-bottom: 1rem;
      }
  
      .apply-btn {
        background-color: #d4af37;
        color: #000;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #b38e30;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  