<div class="offer-page">
  <div class="container applications-section">
    <h1 class="text-center section-title">List of Applications Received</h1>

    <div class="applications-container">
      <div *ngFor="let application of applications" class="application-card mb-4">
        <h3 class="applicant-name">{{ application.firstName }} {{ application.lastName }}</h3>
        <p><strong>Age :</strong> {{ application.age }}</p>
        <p><strong>Motivation Letter :</strong></p>
        <blockquote class="motivation-blockquote">
          {{ application.motivationLetter }}
        </blockquote>
        <p><strong>CV Path:</strong></p>
        <a [href]="application.cvPath" class="cv-link" target="_blank">View CV</a>
        <p><strong>Related Offer:</strong> {{ application.offer.title }}</p>
        <p><strong>AI Rank:</strong> <span class="ai-rank">{{ application.aiRank }}</span></p>
        
        <!-- New "Pass to Interview" button -->
        <button class="pass-to-interview-button" (click)="onPassToInterview(application)">
          Pass to Interview
        </button>
      </div>

      <div *ngIf="applications.length === 0" class="no-applications-text">
        <p>No applications received yet.</p>
      </div>
    </div>
  </div>
</div>
