<div class="container offers-section">
  <!-- Section des offres d'emploi -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="section-title">Offres d'emploi</h2>
      <div *ngIf="jobOffers.length > 0; else noOffers">
        <div class="card offer-card mb-4" *ngFor="let offer of jobOffers">
          <div class="card-body">
            <h5 class="card-title">{{ offer.title }}</h5>
            <p class="card-text">{{ offer.description }}</p>
            <button (click)="applyForJobOffer(offer.id)" class="btn btn-success">Postuler</button>
          </div>
        </div>
      </div>
      <ng-template #noOffers>
        <p>Aucune offre d'emploi disponible pour le moment.</p>
      </ng-template>
    </div>
  </div>
</div>
