<div class="login-container">
  <div class="logo">
    <img src="assets/logosbg.png" alt="Talent Aligner Logo" />
  </div>

  <div class="card">
    
    <form [formGroup]="loginForm">
      <div class="form-group">
        
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter your email"
          formControlName="email"
        />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
          Please enter a valid email.
        </div>
      </div>

      <div class="form-group">
       
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter your password"
          formControlName="password"
        />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
          Password is required.
        </div>
      </div>

      <button type="button" class="btn-login" (click)="login()" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</div>
