/* Centrer le formulaire */
.d-flex {
  height: 100vh;
  //background-image: url('/assets/images/postuler.jpg');
}

.card {
  border-radius: 8px;
  background-color: #fff6e7;
  border: 1px solid #ddd;



}

/* Style pour les champs de formulaire */
input {
  background-color: #e9f2ff;
  border: 1px solid #007bff;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.text-danger {
  font-size: 0.875rem;
}

/* Style pour le bouton */
button {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

button:disabled {
  background-color: #b0d4ff;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #0056b3;
  border-color: #0056b3;
}
