<h2 class="mb-4">Ajouter une nouvelle offre de stage</h2>
<form [formGroup]="addInternshipOfferForm" (ngSubmit)="addInternshipOffer()" class="offer-form">
  <div class="form-group">
    <label>Titre</label>
    <input formControlName="title" type="text" class="form-control" required />
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea formControlName="description" class="form-control" required></textarea>
  </div>

  <div class="form-group">
    <label>Durée (en mois)</label>
    <input formControlName="durationInMonths" type="number" class="form-control" required />
  </div>

  <button type="submit" class="btn btn-primary">Ajouter l'offre de stage</button>
</form>
<hr />
